*{
    box-sizing: border-box;
}
body{
    background: #DFE3DF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: -20px 0 50px;
    font-family: sans-serif;
}
h1{
    font-weight: bold;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 20px;
    font-weight: bold;
}
a{
    color: #151111;
    font-size: 14px;
    text-decoration: none;
    margin: 15 0;
}
button{
    border-radius: 20px;
    border: 1px solid #14c25a;
    color: #fcfbfb;
    background-color: #14c25a;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
form{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    text-align: center;
    height: 100%; 
}
input{
    background-color: #EFF1EF;
    border: 1px solid #070707;
    border-radius: 20px;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: #333;
}
.container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 5), 0 3px 3px rgba(0, 0, 0, 2);
    position: relative;
    overflow: hidden;
    width: 769px;
    max-width: 100%;
    min-height: 480px;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
}
.login-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
}
.overlay{
    background: #edeaea;
    background: -webkit-linear-gradient(to right, #00f361, #18DF14 );
    background: linear-gradient(to right, #18DF14, #49df7e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    color: #fdfffd;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;

}
.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}
.overlay-right{
    right: 0;
}
.social-container{
    margin: 50px 0;
}
.social-container a{
    border: 1px solid #ffffff;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}